* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(29, 53%, 90%);
  font-family: "Outfit", sans-serif;
}
h1,
h2 {
  font-family: "Young Serif", serif;
}
.container {
  max-width: 700px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 100px;
  margin: 100px auto;
  overflow: hidden;
}
.logo {
  margin: 50px auto 30px auto;
  text-align: center;
  width: calc(100% - 60px); 
}

.logo img {
  max-width: 100%;
  border-radius: 15px;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
}

.introduction {
  margin: 0 20px 20px 40px;
}
.introduction h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
.introduction p {
  font-size: 14px;
  margin-bottom: 20px;
}
.subcontainer {
  display: block;
  margin: 0 20px 20px 40px;
  background-color: hsl(330, 100%, 98%);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.subcontainer h1 {
  margin-left: 20px;
  color: hsl(332, 51%, 32%);
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  padding-bottom: 20px;
}
.subcontainer ul {
  margin-left: 25px;
}
.subcontainer ul li {
  margin-left: 20px;
  margin-bottom: 20px;
  color: black;
}
.ingredients {
  margin: 0 20px 20px 45px;
}
.ingredients h2 {
  margin-bottom: 20px;
  color: hsl(14, 45%, 36%);
  font-size: 1.5em;
}
.ingredients ul {
  margin-left: 20px;
  list-style-position: outside;

}
.ingredients ul li {
  margin-bottom: 20px;
  text-indent: -10px;
  padding-left: 30px;
}

hr {
  margin: 30px;
  border-color: #e8e8e8;
}
.instructions {
  margin:  0 25px 20px 40px;
}
.instructions h2 {
  margin-bottom: 15px;
  color: hsl(14, 45%, 36%);
}
.instructions ol {
  list-style-position: outside;
  padding-left: 0;
}
.instructions ol li {
  margin-left: 20px;
  padding-left: 30px;
  margin-bottom: 10px;
  text-indent: -10px;
  list-style-type: decimal;
}
.instructions ol li strong {
  font-weight: 500;
  color: hsl(24, 5%, 18%);
}
.nutrition {
  margin: 0 25px 20px 40px;
}

.nutrition h2 {
  color: hsl(14, 45%, 36%);
  margin-bottom: 20px;
}
.nutrition p {
  margin-bottom: 20px;
}
.nutrition table {
  width: 100%;
  border-collapse:collapse ;
}
.nutrition table td {
  padding: 10px 20px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 2px solid #e8e8e8;
}
.nutrition table td:nth-child(2) {
  border-left: 2px solid #e8e8e8;
}
.nutrition table tr:last-child td {
  border-bottom: none;
}
.color {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
@media (max-width: 600px) {
  body {
    background-color: transparent;
  }
  .container {
    margin: 0;
    border-radius: 0;
    padding: 0;
    background-color: transparent;

  }

  .introduction {
    margin-right: 50px;
  }
  .introduction h1 {
    font-size: 35px;
  }
  .introduction p {
    font-size: 20px;
  }
  .logo img {
    width: 100vw;
    height: auto;
    object-fit: cover;
    border-radius: 0;
  }
  
}